/**********      section       ************/
main{
    display: block;
    height: 100%;
}

#secA {
    display: block;
    width: 95%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
}

#secA h3{
    font-size: 50px;
    padding-top: 90px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;

}

#secA p{
    padding-top: 10px;
    font-size: 20px;
    line-height: 35px;
} 

#secA p span{
    color: #4730d5;
    font-weight: bold;
}


/****************** team pictures ***************************/

#images{
    display: block;
    position: relative;
    height: 600px;
    width: 95%;
    margin: 70px auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
}

#images #main {
    text-align: center;
    font-size: 50px;
    padding: 30px 0px;
    margin-bottom: 50px;
    margin-top: 20px ;
}
 
#abdulla{
    background-image: url(../img/abdulla.png);
    background-size: 28em;
    background-position: 20px 15px;
    
}
 
#abdulla:hover{
    background-position-x: -16.4em;
    
}

#ibrahim{
    background-image: url(../img/ibrahim.png);
    background-size: 24em;
    background-position: 18px 15px;
    margin-left: 0;
}

#ibrahim:hover{
    background-position-x: -12.3em;
}

#osama{
    background-image: url(../img/osama.png);
    background-size: 28em;
    background-position: 18px 15px;
}

#osama:hover{
    background-position-x: -16.5em;
}

#latifa{
    background-image: url(../img/latifa.png);
    background-size: 28em 16em;
    background-position: 18px 15px;
}

#latifa:hover{
    background-position-x: -16.5em;
}

#maram{
    background-image: url(../img/maram.png);
    background-size: 28em 17em;
    background-position: 18px 15px;
}

#maram:hover{
    background-position-x: -16.5em;
}

#nadeen{
    background-image: url(../img/nadeen.png);
    background-size: 28em 16em;
    background-position: 18px 15px;
}

#nadeen:hover{
    background-position-x: -16.8em;
}

.card {
    display: inline-block;
    position: relative;
    box-shadow: 8px 8px rgba(192, 192, 192, 0.411);
    width: 200px;
    height: 350px ;
    text-align: center;
    margin-left: 30px;
    background-color: #4730d5;
    padding-top: 10px;
    background-repeat: no-repeat;
    border-radius: 20px;
} 

.card nav h2{
    font-size: 17px; 
    color: white;
}

.card .pic{
    padding-left: 15px;
}

.pic:hover{
    transform: scale(1.3);
}
 
.card nav{
   margin-top: 16.7em;
   text-align: center;
}

/************************* sectionThree - Form ****************************/

#form-section{
    display: block;
    position: relative;
    height: 450px;
    width: 95%;
    margin: 70px auto;
    background-color: whitesmoke;
    border-radius: 20px;
    
}

#feedheader{
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
}

#form-section input{
    text-align: left;
    margin: 20px 0;
}

#feedbackForm{
    display: inline-block;
    padding-left: 30px;
    width: 60%;
}

#feedbackForm #name{
    width: 15em;
    height: 2.5em;
}

#feedbackForm #textarea{
    width: 30em;
    height: 5em;
}

#feedbackForm button{
    width:80px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
}

#results{
    float:right;
    width: 40%;
    height: 350px;
    overflow-y: scroll;
    
}

#results h3{
    font-size: 30px;
    padding-bottom: 30px;
}

.feedName{
    color: grey;
    padding-bottom: 10px;
}
.feedText{
    text-indent: 25px;
    padding-bottom: 30px;
}