button{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
main{
  display: block;
  height: 800px;
  margin-top: 200px;
}

#courses-list{
  text-align: center;
  position:absolute;
  left: 8%;
  height: 600px;
  width: 13%;
  border: 1px solid black;
  border-radius: 10px;
}

#courses-content{
  position:relative;
  left: 24%;
  height: 600px;
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: scroll;
}

#courses-list p{
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: rgb(228, 228, 228);
  color: #4730d5;
  border-radius: 10px;
}

#courses-list button{
  margin-top: 80px;
  color: black;
  font-size: 20px;
  border:none;
  background-color: transparent;
  width: 91%;
  color: rgb(63, 63, 63);
}

#courses-list button:hover{
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.527);
  border-radius: 5px;
}

#header{
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: rgb(228, 228, 228);
  color: #4730d5;
  border-radius: 10px;
}


/********************* courses Cards ************************/
.card{
  position: relative;
  border:none;
  height: 166px;
  width: 57em;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.card:hover{
  background-color: rgba(211, 211, 211, 0.671);
  transform: scale(1.02);
}

.card-img{
  float: left;
  background-size: 5.3em;
  background-position: center 10px;
  background-repeat: no-repeat;
  width: 20%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card p{
  padding-left: 200px;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.key{
  margin-top: 20px;
}
.key li{
  display: inline;
  padding-left: 42px;
  font-size: 17px;
}

.value{
  margin-top: 20px;
}

.value li{
  display: inline;
  padding-left: 44px;
  padding-right: 30px;
  font-size: 13px;
}

#oracle-value li{
  padding-left: 47px;
  padding-right: 11px;
}

.buy-button{
  position:absolute;
  right: 20px;
  top:10px;
  border-radius: 16px;
  border: none;
  padding: 5px 15px;
  background-color: rgb(3, 196, 3);
  color: white;
  font-weight: bold;
}

.buy-button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}

.fav{
  position:absolute;
  right: 130px;
  top: 15px;
  transform: scale(1.5);
  font-size: 10px;
}

.label-fav{
  position:absolute;
  right: 157px;
  top: 15px;
}

.rating-slider{
  position:absolute;
  right: 20px;
  top: 94px;
}

.rate-button{
  position:absolute;
  right: 20px;
  top: 55px;
  border-radius: 16px;
  border: none;
  background-color: rgb(196, 161, 3);
  color: white;
  font-weight: bold;
  padding: 5px 15px;
}

.rate-button:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

.card-course{
  position:absolute;
  right: 20px;
  top: 128px;
  border-radius: 16px;
  border: none;
  background-color: rgb(3, 119, 196);
  color: white;
  font-weight: bold;
  padding: 5px 15px;
}

#html-img{
  background-image: url(../img/HTML.png);
  background-color: rgba(255, 166, 0, 0.473);
  background-size: 5.6em;
}

#css-img{
  background-image: url(../img/CSS.png);
  background-color: rgba(255, 0, 13, 0.473);
}

#js-img{
  background-image: url(../img/JS.png);
  background-color: rgba(4, 13, 102, 0.473);
}

#oracle-img{
  background-image: url(../img/oracle.png);
  background-color: rgba(31, 126, 3, 0.473);
}

#python-img{
  background-image: url(../img/python.png);
  background-color: rgba(3, 97, 126, 0.473);
}

.topics-button{
  position: absolute;
  bottom: 8px;
  left: 1.9%;
  border:none;
  background-color: transparent;
  font-size: 16px;
}

.topics-button:hover{
  cursor: pointer;
  color: blue;
  transform: scale(1.05);
  font-weight: bold;
}


/************************ pop up ******************************/
.popUp {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popUp-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-data{
  position: relative;
  width: 90%;
}

iframe{
  position: absolute;
  right: 10px;
  top: 10px;
}
