/****************************/
main{
  display: block;
  height: 500px;
  margin-top: 200px;
}

#courses-list{
  text-align: center;
  position:absolute;
  left: 350px;
  height: 450px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

#courses-content{
  position:relative;
  left: 580px;
  height: 500px;
  width: 1013px;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: scroll;
}

#courses-list p{
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

#courses-list a{
  display: inline-block;
  text-decoration: none;
  padding-top: 50px;
  color: black;
  font-size: 17px;
}

#courses-list a:hover{
  text-decoration: underline;
}

#courses-content p{
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
}


/********************* courses Cards ************************/
#html{
  border: 1px solid black;
  height: 166px;
  width: 57em;
  margin: 26px auto;
}