/*************************** main hero section ******************************/
main{

  display: block;
  height: 2000px;
}

#hero{
  position:relative;
}

#hero img{
  display: block;
  padding:0;
  margin-top: 100px;
  width: 100%;
}

#hero article{
  position: absolute;
  right: 5%;
  top: 20%;
  text-align: center;
}

#hero #main{
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 100px;
}

#hero #secondary{
  font-size: 20px;
  color: #4730d5;
}

/********************************* info section *********************************/

#info div{
  height: 300px;
  background-color: #62bef36e;
  margin-top: 20px;
}







/********************************* slide section *********************************/

#slider{
  display: block;
  position:relative;
  margin-top: 30px;
}

.card-container {
  height: 220px;
  perspective: 600;
  position: relative;
  left: 50px;
  width: 150px;
}

/************ html card **********/

.side li{
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
}

#slider button:hover{
  cursor: pointer;
}

.HTML {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  width: 180px;
}

.HTML:hover {
  transform: rotateY(180deg);
}

.HTML .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.HTML .back {
  transform: rotateY(180deg);
}

/************ css card **********/

.CSS {
  height: 100%;
  position: absolute;
  left: 230px;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  width: 180px;
}

.CSS:hover {
  transform: rotateY(180deg);
}
.CSS .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.CSS .back {
  transform: rotateY(180deg);
}

/************ python card **********/

.Python {
  height: 100%;
  position: absolute;
  left: 29em;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  width: 180px;
}

.Python:hover {
  transform: rotateY(180deg);
}
.Python .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.Python .back {
  transform: rotateY(180deg);
}

/************** Oracle card ************/

.Oracle {
  height: 100%;
  position: absolute;
  left: 44em;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  width: 180px;
}

.Oracle:hover {
  transform: rotateY(180deg);
}
.Oracle .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.Oracle .back {
  transform: rotateY(180deg);
}

/************ JavaScript card ************/
.JS {
  height: 100%;
  position: absolute;
  left: 59em;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  width: 180px;
}

.JS:hover {
  transform: rotateY(180deg);
}
.JS .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.JS .back {
  transform: rotateY(180deg);
}

/**********learn more button ************/

#more{
  position:absolute;
  right: 98px;
  top: 84px;
  width: 113px;
  height: 45px;
}