/*************************** main hero section ******************************/
main{
  display: block;
  height: 1500px;
}

#hero{
  position:relative;
}

#hero img{
  position:absolute;
  top: 100px;
  padding:0;
  margin: 0;
  width: 100%;
}


