.container {
    height: 1000px;
    width: 100%;
    margin: 150px auto; 
}

.container p{
    padding: 20px;
    border-bottom: 1px solid black;
    width: 2500px;
}

#purchases, #favourites {
    font-size: 30px;
    font-weight: bold;
    color:#4730d5;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: rgba(202, 198, 198, 0.192);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: 450px;
    width: 95%;
    padding: 14px 10px;
    border-radius: 20px;
    white-space: nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
}


.container h2 {
   text-align: center;
   margin-top: 150px;
   font-size: 20px;
   color:rgba(7, 2, 2, 0.61);
  
}

h3 {
    font-size: 10px;
    margin-top: 150px;

}

.container img{
    margin: 40px;
    width: 194px;
    height: 270px;
}

/********************* pop up *********************************/

.popUp {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10000000;
    /* Sit on top */
    padding-top: 250px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color*/
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity*/
  }
  
  .popUp-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 650px;
    border-radius: 20px;
  }
  
  
  /* The Close Button */
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup-data {
    text-align: center;
    position: relative;
    width: 98%;
  }

  .popup-data p{
    font-size: 30px;
    font-weight: bold;
  }

  .popup-data #logout,.popup-data #logout2{
      margin-top: 30px;
      margin-left: 15px;
      width: 80px ;
      height: 50px;
      background-color: #4730d5;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 17px;
  }
  